@import "./Components/Card.css";
@import "./Components/Search.css";
@import "./Components/Header.css";
@import  './Components/Favorites.css';


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Inter',sans-serif;
  background-color: #e2e0e0;
  color: #000;
}

header{
  margin-top: 10px;
}

.container{
  max-width: 695px;
  margin: 0 auto;
}